html {
  font-size: 16px;

}
body{margin:0 auto;
}

/* Header */
.header{height:64px;
margin: 0 auto;
padding-left: 24px;
}
.container{
  margin: 0 0;
  display: inline-block;
  text-align: right;
  width:80rem;
}
.container li{
  display: inline-flex;
  justify-content: flex-end;
}
/* Banner */
.banner{
  background-color:rgba(0,0,0,0.15);
  display:flex;
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  text-align: left;
}
.banner img{width: 60%;}
.banner1{
  border: 1px solid red;
  display: block;
  padding-left: 40px;
  padding-top: 150px;
  margin: 0 0;
  width:30%;
}
.banner1 span{
  font-size: 1.85rem;
  padding:8px 150px;
  color: white;
  background-color: gray;
  text-align: center;
}
h2{font-size: 1.85rem;}
h1{
  font-size: 3.5rem;
}

/* Main */
.main{
  display:inline-flex;
  margin:0 0;
  border: 2px solid red;
  padding-left: 24px;
  padding-top: 32px;
  width: 100%;
}
.main1{
  display: inline-block;
  width: 60%;
}
.pic img{width: 100%;}
.main1 h1{
  padding-top: 32px;
  margin:0 0;
  width: 100%;
}
.content{
  margin:0 0 ;
  padding-top: 24px;
  padding-bottom:24px;
  font-size: 1.5rem;
  width: 100%;}
.information{

  margin-top: 0;
  display: inline-block;
  margin-left: 24px;
  padding-left: 16px;
  width: 600px;
}
.main2{
  margin: 0 0;
  display: inline-flex;
  padding-bottom: 16px;

}
.main2 img{width: 35%;}
.detail{
padding-left: 24px;
}
.detail p, nav a{font-size:1.5rem;}
/* Learning */
.title{
width: 100%;
margin: 0 0;
text-align: center;
border: 1px solid red;
padding-top:32px;
padding-bottom: 32px;}
.learning{
  width:90%;
  border: 1px solid red;
  display: inline-flex;
  padding-bottom: 32px;
}
.learning1{
  border: 1px solid green;
  justify-content: space-between;
}
.learning1 img{width:425px;}

.learning2{
  width:100%;
  margin: 0 0;
  border: 1px solid red;
}

/* Exhibition */
.exhibition{
  width:100%;
  display: inline-flex;
  margin: 0 0;
  border: 1px solid red;
}
.exhibition video{
  width: 100%;
  border: 1px solid red;
}
.exhibition2{
  padding-left: 32px;
  display: inline-block;
  border: 1px solid red;
}
.exhibition1{
  display: inline-block;
  border: 1px solid red;
  padding-left: 24px;
}
.exhibition3{
  display: inline-flex;
  width: 523px;

}
