html{
  font size: 18px;
}
body{
    font-family:helvetica;
    color: white;

}

.sizing{
  width: 67rem;
}
.header{
  background-color: black;
  display: inline-flex;
  padding-left: 12rem;
  margin-left: 15rem;
  align-items:center;
  padding-top: 0.66rem;
  padding-bottom:0.66rem;

}
.header img{
  height: 1.5rem;

}
header{
  margin-left: 1rem;
  font-size: 1rem;
}
.subject{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  margin-top: 0;
  margin-left: 15rem;
}

#subject1{
  background-color: black;
  width: 25rem;
  margin-left: 12rem;
  display:flex;
  position: relative;
  top: 9rem;

}

.text{
  display: block;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.new-arrival{
  font-size: 1rem;
  font-weight: bold;

}

h1{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;

}
.classification{
  background-color: firebrick;
  margin-left: 15rem;
  display:inline-flex;
  padding-left: 8.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
  display: flex;


}
.tablat {
  display: none;
}
.container{
  position: relative;
  display: inline-flex;
  padding-left: 15rem;
  padding-top: 3rem;
  justify-content: space-between;

}

.pen, .watch, .glasses{
  display: inline-block;
  border:2px solid green;
  padding-top: 2rem;
  width:30%;
  justify-content: space-between;
}
.container img{
  height: 9rem;
  width: auto;
  padding:2rem;
}
.pen1, .watch1, .glasses1{
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.glasses img{
  width:70%
}

.detail{
  padding-left: 15rem;
  display: flex;
  justify-content: space-between;

}

.location, .hrs{
  padding-top: 3rem;
  width: 30%;
  padding-bottom: 4rem;

}
.Loca, .Time{
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.detail p{
  color:black;

}

.ending{ background-color: black;
vertical-align: middle;
height: 5rem;
padding-left: 12rem;
margin-left: 15rem;
}
footer{
  position: relative;
  top: 2rem;
}
@media only screen and (max-width: 1024px){

.classification p {
      display: none;
    }
    .tablat {
      display: block;
      text-align: center;
    }
 .glasses{
   display:none;
 }
 .pen, .watch{
   width: 47%;
   text-align: center;
 }
.location, .hrs{
  width: 35%;
}
.ending footer{
  text-align: center;
}
}

@media only screen and (max-width: 470px){
  .header{
    display: block;
    text-align: center;
  }
  header{
    display: none;

  }
  #subject{
    position: relative;
    vertical-align:bottom;
  }
.new-arrival{
  font-size:0.77rem;
  font-weight: bold;
}
h1{
  font-size: 1rem;
  font-weight: bold;
}
.text{
  padding-left: 2rem;
  padding-top: 1rem;
}
.watch{
  display: none;
}
.pen{
  width:90%;
  text-align: center;
}

.detail{
  display: block;
  text-align: center;
}
.location, .hrs{
  width: 90%;
}

}
